{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>  
    <meta charset="utf-8"/> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>StartupBox.Mx</title>
    
    <link rel="stylesheet" type="text/css" href="{%static 'bootstrap-3.3.6-dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'bootstrap-3.3.6-dist/css/styles.css'%}">
    <link rel="icon" type="image/ico" href="{%static 'img/logonostro.png'%}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.jquery.min.js"></script>
        <script   src="http://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg_rOU_onzWFQN4xjY-P524q5KL-kgfr0"
  type="text/javascript"></script>
<script>
$(document).ready(function(){

    
});
function closeproveedor(event){
        
        $("#layer-proveedor").hide();

    }
function showProv(idProv){
     $("#layer-proveedor").show();
     $.ajax({url: 'http://127.0.0.1:8000/api/prov/'+ idProv +'/',
                        type: 'get',
                      success: function(response) 
                        {
                            console.log(response);
                            $("#nombrelayer").html(response.nombre);
                            $("#descripcion").html(response.descripcion);
                            $("#urllayer").attr("href", response.pagina_web);
                            $("#logoLayer").attr("src", response.logo);

    
                        },
                         headers: {
            Authorization: 'Token 529f4a946694d0aa070aae76575426402dd20829'
        }
                    });
}


 var locations = [
        ['servicio', 19.425063, -99.191899]
        ]
     
    var  mapa;
    google.maps.event.addDomListener(window,'load',dibujarMapa);
    function dibujarMapa(){
        var opcionesMapa={
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        mapa = new google.maps.Map(document.getElementById('google_canvas'),opcionesMapa);
         var infowindow = new google.maps.InfoWindow();
         var marker, i;

var iconBase = 'img/';
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: mapa,
         icon: iconBase + 'geolocate.png'
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(mapa, marker);
        }
      })(marker, i));
    }
       
    }
    
    </script>
<style>
.icon-close {
    width: 35px;
    height: 36px;
    position: absolute;
    top: -15px;
    right: -15px;
}
</style>
</head>
<body class="col-md-12">
<div id="layer-proveedor" style="position:fixed; top:10%; left:10%; z-index:4;
background: #FFF; border: 1px solid; border-color: #000000; width: 80%; height: 85%; display: none;
"><img onclick="closeproveedor()" class="icon-close" src="static/img/close-button.png" alt="close">
        <form>
             <fieldset>
              <legend>Categoría o servicio</legend>
                <div class="col-lg-6 col-sm-6" class="info-servicio">
                    <h2 id="nombrelayer"></h2>
                    <pre>Espacios de trabajo compartidos</pre>
                    <p id="descripcion"></p>
                    <div style="width: 200px; height: 200px" id="google_canvas"></div>
                    <a target="_blank" id="urllayer" href="">Ver sitio web</a>
                </div>

                <div>
                    <img class="pop-div_logo" id="logoLayer" src="">
                </div>

               
            
            
             </fieldset>
            </form>



</div>
    <header>
        <form>
            <div id="logoproyecto">
                <img class="nuestrologo" src="{%static 'img/logonostro.png'%}">
            </div>

            <div id="botonesSeleccion" class="cols-12" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox" autocomplete="off" checked> Startups
                </label>
                        
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Categorías
                </label>
            </div>
            <div class="checkbox_ubicacion">
                <input class="ubicacion" name="ubicacion" type="checkbox" />Ubicación actual
            </div>

            <div class="form-group">
                <input id="q" name="q" placeholder="¿Qué necesitas?" autocomplete="off" autocorrect="false" spellcheck="false" type="search">
            </div>
            <div id="hits"></div>
        </form>
    </header>

    <main>
         
        <!-- Seccion Startups -->
        <div class="row">



        <div class="col-md-12" class="section_1">

         {%for startup in startups %}

          <section class="col-xs-6 col-sm-4 col-md-3">
                <img class="logo_startup" src="media/{{startup.logo}}"">
                <h2>{{startup.nombre}}</h2>
                    <article>
                    <ul>
        {% for p in startup.proveedores.all %}
         <a onclick="showProv({{ p.id }})"  href="#">{{ p.nombre }}</a>
                            <br>
          
            
    {% endfor %}
    </ul>
                       
                    </article>
            </section>
    {% endfor %}
        

         
        </div>
            
            <!--Seccion 2 de Listas-->


    </div>    
    <style>
.main-footer {
    background: #d9e4ea;
    padding: 2em 0;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
    </style>
<footer class="main-footer">
        <span>&copy;2016 DevF - StartUpBox Mx</span>
    </footer>




    <script type="text/javascript" src="js/bootstrap.js"></script>

    <script type="text/javascript" src="js/scripts.js"></script>

    <!-- Aquí empieza Algolia -->
    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script type="text/javascript">
      function searchCallback(content) {
        if (content.query !== $('#q').val()) {
          // do not take out-dated answers into account
          return;
        }
        if (content.hits.length === 0) {
          // no results
          $('#hits').empty();
          return;
        }
        // Scan all hits and display them
        var html = '';
        for (var i = 0; i < content.hits.length; ++i) {
          var hit = content.hits[i];
          html += '<div class="hit" style="padding-bottom: 30px;">';
          for (var attribute in hit._highlightResult) {
            html += '<div class="attribute" style="border-bottom: 1px solid gray;">' +
              hit._highlightResult[attribute].value +
              '</div>';
          }
          html += '</div>';
        }
        $('#hits').html(html);
      }
      $(document).ready(function() {
        var $inputfield = $('#q');
        // Replace the following values by your ApplicationID and ApiKey.
        var client = $.algolia.Client('O80RPQHCXY', '921726e718a0ae434ba52e6904caa6c4');
        // Replace the following value by the name of the index you want to query.
        var index = client.initIndex('Proveedor','Categoria', 'Startup');
        $inputfield.keyup(function() {
          index.search($inputfield.val(), { hitsPerPage: 5 })
            .done(searchCallback)
            .fail(function(content) { console.log('Error', content); });
        }).focus().closest('form').on('submit', function() {
          // on form submit, store the query string in the anchor
          location.replace('#q=' + encodeURIComponent($inputfield.val()));
          return false;
        });
        // check if there is a query in the anchor: http://example.org/#q=my+query
        if (location.hash && location.hash.indexOf('#q=') === 0) {
          var q = decodeURIComponent(location.hash.substring(3));
          $inputfield.val(q).trigger('keyup');
        }
      });
    </script>

</body>

</html>